<!DOCTYPE html>
<html>
<head>
    <title>stream</title>
</head>
<body>
<div style="position:fixed; top:0px; left:0px; width:1280px; height:720px; background-color:#e1e2ed;color:#000b87;">
    <p style="position:fixed; top:100px;left:810px;font-family:bold;font-size: 28pt">Workout Counter</p>
    <p style="position:fixed; top:180px;left:820px;font-family:bold;font-size: 24pt">@ swati & maitry</p>

    <div  class="example-display" style="position:fixed; top:50px; left:50px;">
    <img id="bg" src="{{ url_for('video_feed') }}">


         </div>
</div>

</body>
</html>